body{
    margin: auto;
    background-image: linear-gradient(45deg, rgb(31, 134, 182), rgb(65, 187, 85));
    font-family: Arial, Helvetica, sans-serif;
}
section{
    border: 5px solid black;
    border-radius: 15px;;
    margin-left: 30px;
    margin-right: 30px;
    padding:15px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    background-color: rgb(77, 223, 223);
    width:60%;
    border-radius: 10px;
    height: 150px;
    display: flex;
    /* flex-; */
    justify-content: space-around;
    align-items: center;
    margin:auto;
    color:rgb(27, 116, 27);
}
.titulo{
    height:100px;
    text-align: center;
    color: blue;
    display: flex;
    flex-direction: column;
    /* border: 1px solid cyan;
    background-color: linear-gradient(35deg, #2980B9, #6DD5FA); */
    
}
h2, h3{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 30px;
    
}
nav:hover{
    transform: translateY(5px);
    
}
.heading:hover{
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);

}
.heading:after{
    text-decoration: underline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}